* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(lightgray,lightgreen);
}

header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 200px;
}

nav ul {
    width: 200px;
    display: flex;
    justify-content: space-between;

    font-size: 16px;

    list-style: none;
}

nav ul li {
    padding: 8px;
    border-radius: 8px;
}

nav ul li:hover {
    background: rgb(21, 255, 0);
}